<!DOCTYPE html>
<html>
 <meta charset = "utf-8">
 <meta name = "viewport" content = "width=device-width">
 <style>
  	<link rel="stylesheet" href="taskmanagercol.css">
  </style>
  <title> Task Manager Info </title>
 </head>
 <body>
  <div class = "row">
 	<div class = "column">
 		<h2>System Processes</h2>
 		
 	</div>
 	<div class = "column">
		<h2>CPU Percentage</h2> 
	</div>		
 	<div class = "column">
 		<h2>Memory Percentage</h2>
 	</div>
 	<div class = "column">
 		<h2>PID Percentage</h2>
 	</div>
  <div>
 </body>
</html>

