<!DOCTYPE html>
<html>
 <meta charset = "utf-8">
 <meta name = "viewport" content = "width=device-width">
 <style>
  *{
   box-sizing:border-box;
  }
  .column{
	float: left;
 	width: 25%;
 	passing: 10px;
 	height: 300px;
  }
  .row:after{
 	content: "";
	display: table;
	clear: both;
  }
  </style>
  <title> Task Manager Info </title>
 </head>
 <body>
  <div class = "row">
 	<div class = "column">
 		<h2>System Processes</h2>
 	</div>
 	<div class = "column">
		<h2>PID</h2> 
	</div>		
 	<div class = "column">
 		<h2>CPU Percentage</h2>
 	</div>
 	<div class = "column">
 		<h2>Memory Percentage</h2>
 	</div>
  <div>
 </body>
</html>

