main {
  position: relative;
  color: white;
  height: 100vh;
  background: #3c3d3c;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hello {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.flex-grid {
  display: flex;
  padding: 5vw;
}

.flex-grid .col{
  flex: 1;
}

.flex-grid {
  margin: 0 10 20 10;
}
.col1 {
  width: 65vw;
}

.col1 .row1{
  height: 10vh;
}

.col1 .row2 {
  height: 80vh;
  overflow: scroll;
}
.col2{
  width: 30vw;
}

.col2 .row1 {
  height: 30vh;
}
.col2 .row2 {
  height: 5vh;
}

.col2 .row3 {
  height:50vh;
  background:yellow;
}

.graph {
  height: 25vh;
  width: 25vw;
}

h1 {
  color: #04d66d;
  font-size: 1em;
  text-align: center;
}

table {
  padding: 15px;
  text-align: center;
  border-color: white;
}

th, td {
  padding: 0px 10px;
}
