main {
  position: relative;
  color: white;
  height: 100vh;
  background: #3c3d3c;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-grid {
  display: flex;
  padding: 5vw;
}

.flex-grid .col{
  display: flex;
}

.flex-grid {
  margin: 0 10 20 10;
}
.col1 {
  width: 65vw;
}

.col1 .row1{
  height: 10vh;
}

.col1 .row2 {
  height: 80vh;
  overflow-y: scroll;
}
.col2{
  width: 30vw;
}

.col2 .row1 {
  height: 30vh;
}
.col2 .row2 {
  height: 5vh;
}

.col2 .row3 {
  height: 35%;
  background: #b5b5b5;
  border-radius: 25px;
  padding: 40px 50px;
  overflow-y: scroll;
}

.graph {
  height: 25vh;
  width: 25vw;
}

h1 {
  color: #04d66d;
  font-size: 1em;
  text-align: center;
}

table {
  padding: 15px;
  border: 1px solid white;
  table-layout: fixed;
  width: 100%;
}

tr, td, tbody, tbody div {
  text-align: center;
  justify-content: space-around;
}

tr {
  border: 1px solid white;
  padding: 5px 0px;
}

th, td {
  padding: 0px 10px;
}
